.catalog {
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 48px;
  justify-content: center;

  margin: 0 auto;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
